body {
  font-size: 20px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 4px solid #d4d4d4;
  background-color: #f3f3f3;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #0070ff;
}